include ../includes/mixins_global.jade
extends ../includes/layout.jade

block title
    title Forest Farmstead – About

block background
    +background('dusk.jpg')

prepend nav-about
    +highlight

block content
    .about
        p The Forest Farmstead is tucked in the North Cascades mountains temperate rain forest. We raise animals, have an orchard and market garden, and sustainably manage our forest land. We are looking to build our family homestead’s productivity, diversity, and ability to host others.

        p Terrance is a renewable energy engineer and Erin is trained in resource conservation. Both have a background in agriculture. We have two children Alden 15 and Matilda 8.

        span We are a modern, sustainable homestead done the old fashioned way.  We are located in scenic&nbsp;
        input(type='checkbox', id='map-toggle', style={display: 'none'})
        label(for='map-toggle')
            span Rockport, Washington
            i.fa.fa-angle-down
        iframe(
            id='map'
            width='500px'
            height='250px'
            src='http://caltopo.com/m/7F1L'
            style={border: 0}
            frameborder='0'
        )
    p: address 55753 State Route 20/PO Box 205<br/>Rockport, WA<br/>(360) 399-3408

    //- This div is managed by React in home_gallery.js
    div#homegallery

    iframe(
        id='youtube'
        width='564'
        height='318'
        src='https://www.youtube.com/embed/L7s59jp_kQE?wmode=transparent'
        frameborder='0'
    )

