a(target="_blank" href='https://www.facebook.com/Woodbitters/?ref=br_rs')
    .name
        //- Weird markup is for icons
        i.fa.fa-facebook
        |&nbsp;Connect
    .dropdown
        iframe#fbfeed(
            src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWoodbitters%2F&tabs=timeline&width=320&height=530&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=161109063979941'
            width='320'
            height='530'
            style='border:none;overflow:hidden'
            scrolling='yes'
            frameborder='0'
            allowTransparency='true'
        )


