mixin product-detail
    .pure-g.product-detail
        block

mixin sidebar(photo, price, size, availability, ...link)
    .product-sidebar.pure-u-2-5
        .product-image: img(src=photo)
        .product-info
            p
                block
            span.price $#{price} /&nbsp;
            span.size= size
            if link
              p
                a(href=link[0] target="_blank")= availability
            else
              p= availability

mixin description
    .pure-u-3-5
        .product-description
            block

mixin sealOrganic
    .seal: img(src="/images/products/seal_organic.gif"
               height=55
               width=55)

mixin sealGF
    .seal: img(src="/images/products/seal_gf.png"
               height=55
               width=55)
